@import "bourbon/bourbon"; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

// colour palette - these colours will be the colour swatches of the colours section

$colour-1: #2a2d34; // Dark grey
$colour-2: #3a99d9; // Blue
$colour-3: #2abb9c; // Green
$colour-4: #7d4e92; // Purple
$colour-5: #e6e6e6; // Light grey

// additional colours

$primary-colour: $colour-2;
$text-colour: $colour-1;
$success: $colour-3; // green
$alert: #d93d3a;  // red
$white: #ffffff;

// fonts
$primary-font: 'Hind', 'Open Sans', sans-serif;


// sizes
$base-line-height: 1.5 !default;
$base-spacing: $base-line-height * 1em !default;


// elements
@import 'os/icons';
@import 'os/typography';
@import 'os/forms';
@import 'os/tooltips';
@import 'os/progress';
@import 'os/pagination';
@import 'os/labels';
@import 'os/breadcrumb';
@import 'os/header';
@import 'os/banner';
@import 'os/footer';
@import 'os/sidebar';
@import 'os/navs';
@import 'os/buttons';


/* --------------------------------

xBackground

-------------------------------- */

body {
	/* this is the page background */
	background-color: $white;
}

/* --------------------------------

xPatterns

-------------------------------- */

.box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $colour-5;
	border-radius: 3px;
	background: $white;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

/* --------------------------------

xNavigation

-------------------------------- */

body > header {
	background-color: $colour-1;

  .logo {
  	/* logo box style */
  	background-color: $colour-1;
  	width: 120px;

  	@include MQ(M) {
  		width: 180px;
  	}
  }
}


/* --------------------------------

xPage title

-------------------------------- */

main > h1 {
	color: $text-colour;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $white;
	}
}

/* --------------------------------

xTypography

-------------------------------- */

h1, h2 {
	color: $text-colour;
}

h1 {
	font-size: 2.4rem;
	font-weight: 600;
	line-height: $base-line-height - 0.3;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($colour-5, 15%);
}

p {
	font-size: 1.4rem;
	line-height: $base-line-height - 0.1;
	color: $text-colour;

	a {
		color: $primary-colour;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: $base-line-height + 0.1;
	}
}

/* --------------------------------

xButtons

-------------------------------- */


.buttons .box:nth-of-type(2) span {
	/* CSS class name colour */
	color: $primary-colour;
}

/* --------------------------------

xIcons

-------------------------------- */

.icons li {
	/* icons size */
	width: 32px;
	height: 32px;
}


/* --------------------------------

Accordion

-------------------------------- */

.js .accordion {
  ul.submenu {
    display: none;
  }
  .is-expanded {
    display: block;
  }
}


@import '../partials/basic-style';
