language: node_js

services:
  - docker

node_js:
  - '8.7.0'

env:
  global:
    - OS_BASE_URL=http://localhost

install:
  - make docker-build
  - make docker-run

script:
  - make docker-test

after_script:
  - make docker-remove

# notifications:
#   slack:
#     secure: s9p3sp2Vjvl5xdFCX5RfCH1/v5tmVyJvMKeFWZNCgIwmDX7b5BWpBX9AVbAuEyQQLVeWSREg06NgMRmEc7w9Xqux/VGaQ3Hw3BvxyAX+gGfmOYIpV8nK9dVCghaysewe4p12z85CkOZpc4eXQiQrcJ6I1xCpaw4vdvL4tSYWLevPM17iFee1Vgqzs2dWfu4B77TM2Na+6q1d4dxuhez5EeGCD/1u7Jy4B09jtYYpIpkzrJhLmy1ZZNik56GnRP3yskhQ5TP+luKuH/Vwq03hT/px3OIMxjjU8DnDJIeFqB+Z3T5oMatvHGUDrt2XI869F5/GKHota//DUp9Va69Yvy8GNplT0fOhbFAq8OfYnNZnMHeIV9zDX5tvqE/ZgbcVu6+weDvNfeo2DacU5wRpUSiBJe474XTLh0V5GICSQNn4/ZemFVpGG4PLrWVGmiuNr28t/fdFrLtYybA7tjKhj26VAjXrSssN5LEhqC6JpoALiMqzM27kMBACis3ZvdyYSuCWx3J9HVuqEH1DuPg17uOeknClolksZd4w9c2e7SePf5qe4b22UB7+vrU3mfAou8WMrDRaKEyUOGVm77FRiMkDvG+O5IYa4CPz6sHrw6yxD0XZn89CgduVF88bb3qjCQWJEyj76xfiWHVOD+Wfw63MtRyBmRmh6bycCZR5SbE=
