<div class="row x-available-packages">
  <div class="col-xs-12 dropdown" ng-class="{open: dropdownState.isOpen}">
    <h3 ng-click="dropdownState.isOpen = !dropdownState.isOpen">
      {{ selected.title || selected.current }}
      <i class="os-icon os-icon-arrow_drop_down pull-right"></i>
    </h3>
    <ul class="dropdown-menu col-xs-12">
      <li class="package-search-input pinned">
        <span>
          <input type="text" class="form-control"
            placeholder="Search for data package"
            ng-model="filter.value">
        </span>
      </li>
      <!-- Placeholder for search control since it is fixed to top -->
      <li class="package-search-input placeholder">
        <span><span class="form-control-static"></span></span>
      </li>
      <li role="menuitem" ng-repeat="item in (items | filter:filter)">
        <a href="javascript:void(0)" title="{{ item.value }}"
          ng-click="dropdownState.isOpen = false; events.changePackage(item.key);">{{item.value}}</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <div marked="selected.description"></div>
  </div>
</div>
