<div class="x-available-packages row">
    <div class="col-xs-12 col-md-6 col-lg-8">
        <h2>{{ state.availablePackages.title }}</h2>
        <div marked="state.availablePackages.description"></div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 text-right">
        <dropdown
          selected="state.currentPackageIndex"
          title="{{state.availablePackages.current}}"
          items="state.availablePackages.items"
          allow-search="true"
          alignment="right"
          on-click="events.changePackage(state.currentPackageIndex)"
        ></dropdown>
    </div>
</div>
