<div class="margin-top-8 col-xs-12">
    <div class="row">
        <div id="selected-filters" class="col-xs-12">
            <span class="margin-right-4 label label-success" ng-repeat="(key, item) in dimensions.current.filters">
                <span>{{ (events.findDimension(key)).name }}</span>
                <span>:&nbsp;</span>
                <span>{{ (events.findDimension(key)).values[item] }}</span>
                <span>&nbsp;</span>
                <i class="fa fa-remove cursor-pointer" ng-click="events.dropFilter(key)"></i>
            </span>
        </div>
    </div>
</div>
