<div ng-switch="type">

  <div ng-switch-default>
    <strong>Add some views by clicking <i class="os-icon os-icon-circle-plus"></i>
    button to see all available options.</strong>
  </div>

  <div ng-switch-when="---">
    <!-- Default sidebar with all possible options -->
    <measures measures="state.measures" events="events"></measures>
    <div ng-repeat="hierarchy in state.hierarchies">
      <hr>
      <strong>{{ getHierarchyName(hierarchy) }}</strong>
      <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
        events="events"></dimensions-filter>
      <dimensions-group hierarchy="hierarchy" dimensions="state.dimensions"
        events="events"></dimensions-group>
    </div>
  </div>

  <div ng-switch-when="drilldown">
    <div ng-if="state.measures.items.length > 1">
      <measures measures="state.measures" events="events"></measures>
      <hr>
    </div>
    <sidebar-list items="hierarchies" selected="selectedHierarchies" plain-list="yes" title="Hierarchies"></sidebar-list>
    <hr>
    <strong>Filters</strong>
    <div>
      <div ng-repeat="hierarchy in state.hierarchies" class="x-hide-first-separator"
        ng-if="selectedHierarchies.indexOf(hierarchy.key) == -1">
        <hr>
        <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
          events="events"></dimensions-filter>
      </div>
    </div>
  </div>

  <div ng-switch-when="sortable-series">
    <div ng-if="state.measures.items.length > 1">
      <measures measures="state.measures" events="events"></measures>
      <hr>
    </div>
    <strong>X-Axis</strong>
    <div ng-repeat="hierarchy in state.hierarchies">
      <sidebar-list items="hierarchy.dimensions" selected="state.dimensions.current.groups"
        title="{{ getHierarchyName(hierarchy) }}"></sidebar-list>
    </div>

    <hr>
    <strong>Filters</strong>
    <div>
      <div ng-repeat="hierarchy in state.hierarchies" class="x-hide-first-separator"
        ng-if="selectedHierarchies.indexOf(hierarchy.key) == -1">
        <hr>
        <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
          events="events"></dimensions-filter>
      </div>
    </div>
  </div>

  <div ng-switch-when="time-series">
    <div ng-if="state.measures.items.length > 1">
      <measures measures="state.measures" events="events"></measures>
      <hr>
    </div>
    <strong>Series</strong>
    <div ng-repeat="hierarchy in datetimeHierarchies">
      <sidebar-list items="hierarchy.dimensions" selected="state.dimensions.current.groups"
        title="{{ getHierarchyName(hierarchy) }}"></sidebar-list>
    </div>

    <hr>
    <strong>Filters</strong>
    <div>
      <div ng-repeat="hierarchy in state.hierarchies" class="x-hide-first-separator"
        ng-if="selectedHierarchies.indexOf(hierarchy.key) == -1">
        <hr>
        <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
          events="events"></dimensions-filter>
      </div>
    </div>
  </div>

  <div ng-switch-when="location">
    <div ng-if="state.measures.items.length > 1">
      <measures measures="state.measures" events="events"></measures>
      <hr>
    </div>

    <strong>Location</strong>
    <div ng-repeat="hierarchy in locationHierarchies">
      <sidebar-list items="hierarchy.dimensions" selected="state.dimensions.current.groups"
        title="{{ getHierarchyName(hierarchy) }}"></sidebar-list>
    </div>

    <hr>
    <strong>Filters</strong>
    <div>
      <div ng-repeat="hierarchy in state.hierarchies" class="x-hide-first-separator"
        ng-if="selectedHierarchies.indexOf(hierarchy.key) == -1">
        <hr>
        <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
          events="events"></dimensions-filter>
      </div>
    </div>
  </div>

  <div ng-switch-when="pivot-table">
    <div ng-if="state.measures.items.length > 1">
      <measures measures="state.measures" events="events"></measures>
      <hr>
    </div>

    <strong>Rows</strong>
    <div ng-repeat="hierarchy in state.hierarchies">
      <sidebar-list items="hierarchy.dimensions" selected="state.dimensions.current.rows" key="rows"
        title="{{ getHierarchyName(hierarchy) }}" can-clear="{{ state.dimensions.current.rows.length > 1 ? 'on' : '' }}"></sidebar-list>
    </div>

    <hr>

    <strong>Columns</strong>
    <div ng-repeat="hierarchy in state.hierarchies">
      <sidebar-list items="hierarchy.dimensions" selected="state.dimensions.current.columns" key="columns"
        title="{{ getHierarchyName(hierarchy) }}" can-clear="{{ state.dimensions.current.columns.length > 1 ? 'yes' : '' }}"></sidebar-list>
    </div>

    <hr>
    <strong>Filters</strong>
    <div>
      <div ng-repeat="hierarchy in state.hierarchies" class="x-hide-first-separator">
        <hr>
        <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
          events="events"></dimensions-filter>
      </div>
    </div>
  </div>

</div>