<div ng-init="list.isCollapsed = true">
  <div ng-if="!plainList" class="list-group list-group-inverse">
    <a ng-click="list.isCollapsed = !list.isCollapsed" href="javascript:void(0);" class="list-group-item">
      <i class="os-icon os-icon-filter"></i>
      <i class="os-icon os-icon-arrow-down pull-right" ng-class="{expanded: !list.isCollapsed}"></i>
      {{ title }}
    </a>
  </div>
  <div ng-if="plainList">
    <strong>{{ title }}</strong>
  </div>
  <div ng-if="plainList || !list.isCollapsed" class="list-group list-group-inverse slide-animation">
    <a ng-repeat="item in getSelectedItems() track by [$index, item.key]" href="javascript:void(0);"
      class="list-group-item active">
      <i ng-if="canClear && isSelected(item.key)" ng-click="unselectItem($event, item)" class="os-icon os-icon-remove pull-right"></i>
      {{ item.displayName }}
    </a>
    <div class="list-group-item" ng-if="items.length > maxItems">
      <div ng-class="{'input-group': !!filter.displayName}">
        <input type="text" class="form-control" placeholder="Search for item..." ng-model="filter.displayName">
        <span class="input-group-btn" ng-if="!!filter.displayName">
          <button class="btn btn-default" type="button" ng-click="filter.displayName = ''"><i class="fa fa-times"></i></button>
        </span>
      </div>
    </div>
    <a ng-repeat="item in itemsToDisplay track by [$index, item.key]" href="javascript:void(0);"
      ng-class="{active: isSelected(item.key)}"
      ng-click="selectItem($event, item)"
      class="list-group-item">
      <i ng-if="canClear && isSelected(item.key)" ng-click="unselectItem($event, item)" class="os-icon os-icon-remove pull-right"></i>
      {{ item.displayName }}
    </a>
    <strong ng-if="!!filter.displayName && !itemsToDisplay.length">No results found</strong>
    <strong ng-if="hasMoreItems">... there are more items</strong>
  </div>
</div>