<div ng-repeat="visualizationId in selectedVisualizations" class="well x-visualization-container"
  ng-init="visualization = getVisualizationById(visualizationId)">
  <div class="clearfix" ng-if="visualization.type == 'sortable-series'">
    <sorting-control
      selected="state.orderBy" events="events"
      items="[getItemByKey(state.measures.items, state.measures.current), getItemByKey(state.dimensions.items, state.dimensions.current.groups)]">
    </sorting-control>
  </div>
  <div ng-if="visualizationId == 'Treemap'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <breadcrumbs breadcrumbs="state.breadcrumbs" events="events"></breadcrumbs>
      <tree-map ng-if="!state.flag.renderingCharts"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}">
      </tree-map>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'PieChart'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <pie-chart ng-if="!state.flag.renderingCharts"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}">
      </pie-chart>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'BarChart'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <chart ng-if="!state.flag.renderingCharts"
        type="bar"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}">
      </chart>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'LineChart'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <chart ng-if="!state.flag.renderingCharts"
        type="line"
        cube="{{state.availablePackages.current}}"
        state="state.babbageTimeSeries"
        endpoint="{{state.apiUrl}}">
      </chart>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'Table'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <babbage-table ng-if="!state.flag.renderingCharts"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}">
      </babbage-table>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'BubbleTree'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12">
      <breadcrumbs breadcrumbs="state.breadcrumbs" events="events"></breadcrumbs>
      <bubbletree ng-if="!state.flag.renderingCharts"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}">
      </bubbletree>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'Map'" class="row">
    <div class="x-visualization-chart col-xs-12 col-sm-12" ng-if="state.availablePackages.locationAvailable && state.availablePackages.locationSelected">
      <geo-view ng-if="!state.flag.renderingCharts"
        cube="{{state.availablePackages.current}}"
        state="state.babbage"
        endpoint="{{state.apiUrl}}"
        cosmo-endpoint="{{state.cosmoUrl}}"
        currency-sign="{{ state.availablePackages.currencySign }}"
        country-code="{{ state.availablePackages.locationCountry }}">
      </geo-view>
    </div>
    <div class="alert alert-warning col-xs-12 col-sm-12" ng-if="!(state.availablePackages.locationAvailable && state.availablePackages.locationSelected)">
      Please, group your data by <code>location</code> dimension to enable this visualization.
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs" ng-if="state.availablePackages.locationAvailable && state.availablePackages.locationSelected">
        <h3>{{ visualization.name }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="visualizationId == 'PivotTable'" class="row">
    <div class="col-xs-12">
      <export-control
        target-selector="#babbage-pivot-table"
        file-name="{{ state.availablePackages.current }}"
      ></export-control>
    </div>
    <div class="x-visualization-chart col-xs-12">
      <div class="table-responsive">
        <pivot-table id="babbage-pivot-table" ng-if="!state.flag.renderingCharts"
          cube="{{state.availablePackages.current}}"
          state="state.babbagePivot"
          endpoint="{{state.apiUrl}}">
        </pivot-table>
      </div>
    </div>
    <div class="x-visualization-info col-sm-3 hidden-xs">
      <h3>{{ visualization.name }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="x-visualization-buttons">
      <a href="javascript:void(0);" popover="{{ '#visualization-popover-' + visualizationId }}" class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" ng-click="showShareModal(visualizationId)" class="os-icon os-icon-embed"></a>
      <div id="{{ 'visualization-popover-' + visualizationId }}" class="hidden">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualizationId)" type="button" class="btn btn-danger">Remove this visualization</button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">Remove all visualizations</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div title="Add visualization" class="well x-visualization-add text-center">
    <i class="os-icon os-icon-circle-plus"
       ng-click="showAddVisualizationDialog()"
    ></i>
    <p ng-click="showAddVisualizationDialog()"
       ng-if="selectedVisualizations.length == 0">Create visualisation and select a view of your choice</p>
    <p ng-click="showAddVisualizationDialog()"
       ng-if="selectedVisualizations.length > 0">Add Visualization</p>
    <div>
      <span ng-repeat="item in availableVisualizations">
          <span ng-if="item.isEnabled && selectedVisualizations.indexOf(item.id) < 0"
                ng-click="selectedVisualizations.indexOf(item.id) >= 0 || addVisualization(item.id, true)"
                class="x-visualization-item">
              <i ng-class="item.icon"></i>
          </span>
      </span>
    </div>
</div>

<div class="well x-visualization-container x-fixed-visualization">
  <babbage-table ng-if="!state.flag.renderingCharts"
    cube="{{state.availablePackages.current}}"
    state="state.babbage"
    endpoint="{{state.apiUrl}}">
  </babbage-table>
</div>

<div class="modal fade x-visualization-add-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Available visualizations</h4>
      </div>
      <div class="modal-body">
        <div class="x-visualization-items">
          <a ng-repeat="item in availableVisualizations"
            class="x-visualization-item"
            ng-class="{disabled: !item.isEnabled, selected: selectedVisualizations.indexOf(item.id) >= 0}"
            ng-click="item.isEnabled ? addVisualization(item.id, true) : null" href="javascript:void(0);">
            <i ng-class="item.icon"></i>
            {{ item.name }}
          </a>
        </div>
        <div ng-if="selectedVisualizations.length > 0">
          <p>
            <i class="os-icon os-icon-bulb"></i>
            <a ng-click="removeAllVisualizations();" href="javascript:void(0)">Clear</a>
            existing visualizations to enable full
            range of visualization types.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade x-visualization-share-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share visualization</h4>
      </div>
      <div class="modal-body">
        <form onsubmit="return false;">
          <div class="form-group">
            <label for="shareUrl">Link</label>
            <input type="text" class="form-control form-control-inverse" id="shareUrl" value="{{ shareUrl }}" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="shareEmbed">Embed</label>
            <textarea type="text" class="form-control form-control-inverse" id="shareEmbed" readonly="readonly">{{
              '<iframe src="' + shareUrl + '" width="960" height="450" border="0" frameborder="0" seamless="on" style="border: 0px; margin: 0px; padding: 0px;"></iframe>'
            }}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
