{% raw %}
<nav class="navbar navbar-inverse x-page-header" ng-controller="HeaderController">
  <div class="navbar-header navbar-header-full-width">
    <ul class="nav navbar-nav pull-right">
      <li><a href="/packager/">Upload Data</a></li>
      <li><a href="/explorer/">Explore Datasets</a></li>

      <li ng-if="!login.isLoggedIn" class="user" ng-cloak>
        <a href="javascript:void(0)" ng-click="login.login()">
          <i class="os-icon os-icon-user"></i>
          Login / Register
        </a>
      </li>
      <li ng-if="login.isLoggedIn" ng-cloak>
        <a href="javascript:void(0);" ng-click="isLoginMenuShown = !isLoginMenuShown">
          <i class="os-icon os-icon-user"></i>
          {{ login.name }}
          <i class="os-icon os-icon-arrow-drop-down"></i>
        </a>
        <div ng-show="isLoginMenuShown" class="x-user-info">
          <div class="x-avatar">
            <img class="pull-left" ng-if="!!login.avatar" ng-src="{{ login.avatar }}">
          </div>
          <div class="x-info">
            <div><strong>{{ login.name }}</strong></div>
            <div><a href="javascript:void(0);" ng-click="login.logout()">Logout</a></div>
          </div>
        </div>
      </li>
    </ul>
    <a class="navbar-brand navbar-brand-primary navbar-brand-black" href="{% endraw %}{{ basePath }}/{% raw %}" target="_self" title="OS Viewer"><img src="assets/os.svg" class="os-logo-part"><img src="assets/viewer.svg" class="os-logo-part"></a>
  </div>
</nav>
{% endraw %}
