<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Fiscal Data Package Viewer</a>
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation">
                    <a href="http://fiscal.dataprotocols.org/spec/">Fiscal Data PackageSpec</a>
                </li>
                <li role="presentation">
                    <a href="http://community.openspending.org/next/">OpenSpending Next</a>
                </li>
            </ul>
        </div>
    </div>
</nav>