$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path:   '~font-awesome/fonts/';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// @import '../../node_modules/font-awesome/css/font-awesome.css';

@import '../../node_modules/bubbletree/dist/bubbletree.css';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}
.cursor-pointer {
  cursor: pointer;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

#data-filter-buttons .dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.waiter {
  i {
    vertical-align: middle;
  }
  span {
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
}