{% extends "layouts/base.html" %}

{% block content %}
{% raw %}
<style>
  .alert {
    display: none; !important;
  }
</style>

<div>
  <div class="waiter text-center"
    ng-if="(state.isPackageLoading || state.isStarting)">
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
    <span>Loading...</span>
  </div>
  <div ng-if="!state.isStarting">
    <div class="col-md-12 col-xs-12 charts">
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'treemap'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageTreeMap">
              <babbage-treemap></babbage-treemap>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'piechart'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageBar">
              <pie-chart></pie-chart>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'barchart'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageBar">
              <babbage-chart chart-type="bar"></babbage-chart>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'linechart'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageBar">
              <babbage-chart chart-type="line"></babbage-chart>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'bubbletree'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageBar">
              <bubble-tree></bubble-tree>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'table'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageTable">
              <babbage-crosstab></babbage-crosstab>
            </babbage>
      <babbage
              ng-if="!state.flag.renderingCharts && currentTab == 'map'"
              endpoint="{{state.apiUrl}}"
              cube="{{state.availablePackages.current}}"
              state="state.babbageBar">
              <babbage-geoview class="geoview-container"
                country-code="{{ state.availablePackages.locationCountry }}">
              </babbage-geoview>
            </babbage>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
