{% extends "layouts/embedded.html" %}

{% block content %}
<style>
  .alert {
    display: none;
  !important;
  }

  .container {
    padding: 0px;
  !important;
    margin: 0px;
  !important;
  }
</style>

  <div>
    {% if view == 'piechart' %}
    {% raw %}
    <pie-chart cube="{{cube}}" state="params" endpoint="{{apiUrl}}">
    </pie-chart>
    {% endraw %}
    {% endif %}

    {% if view == 'barchart' %}
    {% raw %}
    <chart cube="{{cube}}" type="bar" state="params" endpoint="{{apiUrl}}">
    </chart>
    {% endraw %}
    {% endif %}

    {% if view == 'linechart' %}
    {% raw %}
    <chart cube="{{cube}}" type="line" state="params" endpoint="{{apiUrl}}">
    </chart>
    {% endraw %}
    {% endif %}

    {% if view == 'treemap' %}
    {% raw %}
    <tree-map cube="{{cube}}" state="params" endpoint="{{apiUrl}}"></tree-map>
    {% endraw %}
    {% endif %}

    {% if view == 'bubbletree' %}
    {% raw %}
    <bubbletree cube="{{cube}}" state="params" endpoint="{{apiUrl}}">
    </bubbletree>
    {% endraw %}
    {% endif %}

    {% if view == 'table' %}
    {% raw %}
    <babbage-table cube="{{cube}}" state="params" endpoint="{{apiUrl}}">
    </babbage-table>
    {% endraw %}
    {% endif %}
  </div>

<script>
  var pieDirective = new window.Babbage.BabbageClasses.PieChartDirective();
  var chartDirective = new window.Babbage.BabbageClasses.ChartDirective();
  var treemapDirective = new window.Babbage.BabbageClasses.TreemapDirective();
  var bubbleTreeDirective = new window.Babbage.BabbageClasses.BubbleTreeDirective();
  var tableDirective = new window.Babbage.BabbageClasses.BabbageTableDirective();

  var embedded = angular.module('Application', ['ngRoute', 'angular.filter']);

  pieDirective.init(embedded);
  chartDirective.init(embedded);
  treemapDirective.init(embedded);
  tableDirective.init(embedded);
  bubbleTreeDirective.init(embedded);

//  embedded.config(['$routeProvider',
//    function($routeProvider) {
//      $routeProvider.
//      when('(.*)', {
//        templateUrl: 'demo.html',
//        controller: 'EmbeddedCtrl',
//        reloadOnSearch: false
//      });
//    }]);

  embedded.controller('EmbeddedCtrl', ['$scope', function($scope) {
    $scope.cube = '{{cube | safe}}';
    $scope.apiUrl = '{{apiUrl | safe}}';
    $scope.params = {{params | safe}};
    $scope.view = '{{view | safe}}';
  }]);
</script>

{% endblock %}
