{% extends "layouts/base.html" %}

{% block sidebar %}
{% raw %}
<div ng-if="!(state.isPackageLoading || state.isStarting)">
  <measures measures="state.measures" events="events"></measures>
  <div ng-repeat="hierarchy in state.hierarchies">
    <hr>
    <strong>{{ (hierarchy.common) ? "Dimension" : hierarchy.name }}</strong>
    <dimensions-filter hierarchy="hierarchy" dimensions="state.dimensions"
      events="events"></dimensions-filter>
    <dimensions-group hierarchy="hierarchy" dimensions="state.dimensions"
      events="events"></dimensions-group>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block content %}
{% raw %}
<div>
  <div ng-if="!state.isStarting">
    <available-packages items="state.availablePackages.items"
      selected="state.availablePackages" events="events"></available-packages>
    <div ng-if="!state.isPackageLoading">
      <div class="clearfix">
        <h3>
          <span>Views</span>
          <div class="pull-right btn-group">
            <button
              class="os-icon os-icon-chevron-with-circle-left btn btn-default"
              ng-disabled="!events.canBack()"
              type="button"
              ng-click="events.back()"
            ></button>
            <button
              class="os-icon os-icon-chevron-with-circle-left os-icon-rotate-180 btn btn-default"
              ng-disabled="!events.canForward()"
              type="button"
              ng-click="events.forward()"
            ></button>
          </div>
        </h3>
      </div>

      <div>
        <visualizations state="state" events="events"></visualizations>
      </div>

      <package-info package-url="datapackage.json" resource-url="resource.csv"></package-info>
    </div>
  </div>
  <div class="waiter text-center" ng-if="(state.isPackageLoading || state.isStarting)">
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
    <span>Loading...</span>
  </div>
</div>
{% endraw %}
{% endblock %}
