{% extends "layouts/base.html" %}

{% block sidebar %}
{% raw %}
<div ng-if="!(isLoading.application || isLoading.package)" ng-cloak>
  <sidebar datapackage="state.package" params="state.params"></sidebar>
</div>
{% endraw %}
{% endblock %}

{% block content %}
{% raw %}
<div>
  <div ng-if="!isLoading.application" ng-cloak>
    <package-selector ng-if="state.package.meta" items="availablePackages"
      datapackage="state.package.meta" read-only="disablePackageSelector || availablePackages.length <= 1"></package-selector>

    <div ng-if="!isLoading.package">
      <div class="clearfix">
        <param-controls datapackage="state.package" is-owner="state.package.meta.isOwner" params="state.params" default-params="state.package.meta.defaultParams"></param-controls>
        <filter-list filters="state.params.selectedFilters" params="state.params"></filter-list>
        <history-navigation history="state.history"></history-navigation>
      </div>

      <div>
        <visualizations datapackage="state.package" params="state.params"></visualizations>
      </div>
    </div>
  </div>

  <div class="waiter text-center" ng-if="isLoading.application || isLoading.package">
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
    <span ng-if="false">Loading...</span>
    <span ng-cloak>{{ 'Loading' | i18n }}</span>
  </div>

  <div ng-if="!isLoading.application" ng-cloak>
    <package-info ng-if="state.package.meta" datapackage="state.package.meta" datamine="theme.dataMine"></package-info>
  </div>
</div>
{% endraw %}
{% endblock %}
