<div class="row x-available-packages">
  <div class="col-xs-12 dropdown" ng-class="{open: dropdownState.isOpen}">
    <h3 ng-click="dropdownState.isOpen = !dropdownState.isOpen">
      <i class="os-icon os-icon-box"></i>
      {{ selected.title || selected.current }}
      <i ng-if="!isEmbedded" class="os-icon os-icon-arrow-drop-down pull-right"></i>
    </h3>
    <ul ng-if="!isEmbedded" class="dropdown-menu col-xs-12">
      <li class="package-search-input pinned">
        <span>
          <input type="text" class="form-control"
            placeholder="Search for data package"
            ng-model="filter">
        </span>
      </li>
      <!-- Placeholder for search control since it is fixed to top -->
      <li class="package-search-input placeholder">
        <span><span class="form-control-static"></span></span>
      </li>
      <li role="menuitem" ng-repeat="item in (items | filter:filter ) track by item.key">
        <a href="javascript:void(0)" title="{{ item.value.author }} / {{ item.value.package.title }}"
          ng-click="dropdownState.isOpen = false; events.changePackage(item.value);">{{ item.value.author }} / {{ item.value.package.title }}</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <div marked="selected.description"></div>
  </div>
</div>
