/* --------------------------------

xBasic style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


body > header {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 1px rgba(#000, .1);
	z-index: 10;

	nav {
		display: inline-block;
	}

	@include MQ(M) {
		height: 80px;
		@include clearfix;
	}


	.logo {
		display: inline-block;
		height: 100%;
		position: relative;
		margin-left: 3%;

		img {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
		}

		@include MQ(M) {
			margin-left: 5%;
		}
	}

	.nav-trigger {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50px;
		overflow: hidden;
		white-space: nowrap;
		color: transparent;

		span {
			position: absolute;
			height: 2px;
			width: 20px;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -10px;
			@include transition(background-color .3s .3s);

			&::before, &::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				/* Force Hardware Acceleration in WebKit */
				@include transform(translateZ(0));
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				will-change: transform;
				@include transition(transform .3s .3s);
			}

			&::before {
				@include transform(translateY(-6px));
			}

			&::after {
				@include transform(translateY(6px));
			}
		}

		@include MQ(M) {
			display: none;
		}
	}


	.main-nav {
		padding: 50px 0;
		position: fixed;
		top: 0;
	  left: 0;
	  width: 100%;
		height: 100vh;
		text-align: center;
	  @include transform(translateY(-100%));
	  @include transition(transform .3s);

		@include MQ(M) {
			@include transform(translateY(0));
			position: static;
			height: 80px;
			width: auto;
			padding: 0 2em;
			display: table;

			li a.selected {
					box-shadow: 0 3px 0 $white;
				}
		}

		@include MQ(L) {
	    display: none;
	  }
	}
}

.nav-is-visible {
	.nav-trigger span {

		&::before {
			@include transform(translateY(0) rotate(-45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(45deg));
		}
	}

	.main-nav {
		@include transform(translateY(0));
	}
}

.download {
	position: absolute;
	top: 0;
	right: 5%;
	height: 100%;
	width: 80px;
	background-image: url('../assets/icon-download.svg');
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	@include transition(background-color .2s);

	span {
		/* tooltip */
		position: absolute;
		right: 120%;
		top: 50%;
		margin-top: -20px;
		width: 140px;
		height: 40px;
		line-height: 40px;
		white-space: nowrap;
		text-align: center;
		font-size: 1.2rem;
		-webkit-transition: opacity .2s 0s, visibility 0s .2s;
		-moz-transition: opacity .2s 0s, visibility 0s .2s;
		transition: opacity .2s 0s, visibility 0s .2s;

		&::before {
			/* right arrow */
			content: '';
			position: absolute;
			top: 12px;
			left: 100%;
			height: 0;
			width: 0;
			border-width: 8px;
			border-style: solid;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-right-color: transparent;
		}
	}

	.no-touch &:hover span {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity .2s 0s, visibility 0s 0s;
		-moz-transition: opacity .2s 0s, visibility 0s 0s;
		transition: opacity .2s 0s, visibility 0s 0s;
	}

	@include MQ(M) {
		display: block;

		span {
			opacity: 0;
			visibility: hidden;
		}
	}
}

main {
	width: 90%;
	max-width: $M;
	margin: 0 auto;
	padding: 50px 0;

	> h1 {
		text-align: center;
		margin: 3em 0;
	}

	@include MQ(M) {
		padding-top: 80px;
	}

	@include MQ(L) {
		max-width: none;
		padding: 120px 0 50px;

		> h1 {
			position: fixed;
			top: 0;
			left: 50%;
			height: 80px;
			line-height: 80px;
			width: 400px;
			margin: 0 0 0 -200px;
			font-size: 2.6rem;
			z-index: 20;
		}
	}
}

section {
	margin: 3em 0;
	@include clearfix;

	&:nth-of-type(1) h2::before {
		content: '1. ';
	}

	&:nth-of-type(2) h2::before {
		content: '2. ';
	}

	&:nth-of-type(3) h2::before {
		content: '3. ';
	}

	&:nth-of-type(4) h2::before {
		content: '4. ';
	}

	&:nth-of-type(5) h2::before {
		content: '5. ';
	}

	&:nth-of-type(6) h2::before {
		content: '6. ';
	}

	&:nth-of-type(7) h2::before {
		content: '7. ';
	}

	&:nth-of-type(8) h2::before {
		content: '8. ';
	}

	&:nth-of-type(9) h2::before {
		content: '9. ';
	}

	&:nth-of-type(10) h2::before {
		content: '10. ';
	}

	&:nth-of-type(11) h2::before {
		content: '11. ';
	}

	&:nth-of-type(12) h2::before {
		content: '12. ';
	}

	&:nth-of-type(13) h2::before {
		content: '13. ';
	}

	&:nth-of-type(14) h2::before {
		content: '14. ';
	}

	@include MQ(S) {
		margin: 3em 0 5em;
	}

	@include MQ(L) {
		@include column(.48);
		margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

/* xBranding section - basic style */

.branding {

	.box {
		margin-bottom: 1em;
	}

	img {
		display: block;
		width: 100%;
	}

	ul:last-of-type {
		padding-top: .6em;

		li {
			display: inline-block;
			margin-right: 1em;
		}

		li:nth-of-type(2n+1) img {
			width: 90px;
			height: 90px;
			border-radius: 1em;
		}

		li:nth-of-type(2n+2) img {
			width: 32px;
			height: 32px;
			border-radius: 0;
		}
	}

	@include MQ(S) {
		.box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		ul:last-of-type {
			clear: left;

			li {
				margin-right: 3em;
			}
		}
	}
}

/* xColor section - basic style */

.colors {

	li {
		text-align: center;
		@include column(.48);
		margin: 0 4% 1em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	.color-swatch {
		position: relative;
		width: 100%;
		padding: 50% 0;

		&::before, &::after {
			/* lighter and darker color shades of the same swatch */
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: 20%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	b {
		display: block;
		padding: .6em 0;
	}

	li:nth-of-type(1) .color-swatch {
		background: $colour-1;

		&::before {
			background: lighten($colour-1, 5%);
		}

		&::after {
			background: darken($colour-1, 5%);
		}
	}

	li:nth-of-type(2) .color-swatch {
		background: $colour-2;

		&::before {
			background: lighten($colour-2, 5%);
		}

		&::after {
			background: darken($colour-2, 5%);
		}
	}

	li:nth-of-type(3) .color-swatch {
		background: $colour-3;

		&::before {
			background: lighten($colour-3, 5%);
		}

		&::after {
			background: darken($colour-3, 5%);
		}
	}

	li:nth-of-type(4) .color-swatch {
		background: $colour-4;

		&::before {
			background: lighten($colour-4, 5%);
		}

		&::after {
			background: darken($colour-4, 5%);
		}
	}

	li:nth-of-type(5) .color-swatch {
		background: $colour-5;

		&::before {
			background: lighten($colour-5, 5%);
		}

		&::after {
			background: darken($colour-5, 5%);
		}
	}

	@include MQ(S) {
		li {
			@include column(.19);
			margin: 0 1.25% 1em 0;

			&:nth-of-type(2n) {
				margin-right: 1.25%;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}

.header {
	.site-header:nth-child(n+2) {
		margin-top: $base-spacing;
	}
}

.typography .box,
.buttons .box,
.icons .box,
.form .box {
	padding: 1em;

	@include MQ(S) {
		.box {
			padding: 2em;
		}
	}
}

/* xTypography section - basic style */

.typography {

	h1::before {
		content: 'Aa - ';
		color: $primary-colour;
	}
}

.buttons {
	.box:first-of-type {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.box:last-of-type {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button {
		margin: .4em;
	}

	@include MQ(M) {
		button {
			margin: 1em;
		}
	}
}

/* xIcons section - basic style */

.icons {
	li {
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 1em;
		background-size: contain;
		opacity: 0.5;
	}

	.icon-1 {
		background-image: url('../assets/icons/arrow_down.svg');
	}

	.icon-2 {
		background-image: url('../assets/icons/arrow_drop_down.svg');
	}

	.icon-3 {
		background-image: url('../assets/icons/checkmark.svg');
	}

	.icon-4 {
		background-image: url('../assets/icons/filter.svg');
	}

	.icon-5 {
		background-image: url('../assets/icons/remove.svg');
	}

	.icon-6 {
		background-image: url('../assets/icons/upload.svg');
	}

	.icon-7 {
		background-image: url('../assets/icons/user.svg');
	}
}

/* xForm section - basic style */

.form {
	input[type=text],
	.input-wrapper,
	.progress-bar {
		margin: 1em;
	}
}

.no-csstransitions .select::after {
	display: none;
}



.label {
	margin: 1em 0.5em 1em 1em;
}

.breadcrumbs {
	margin: 1em;
}

.side .sidebar {
	max-width: 210px;
}
