<div ng-if="!params.isEmbedded" class="clearfix">
  <export-control
    target-selector="#babbage-pivot-table"
    file-name="{{ state.availablePackages.current }}"
  ></export-control>
</div>
<div class="x-visualization-chart clearfix">
  <pivot-table ng-if="isVisible" id="babbage-pivot-table"
    downloader="downloader"
    cube="{{ params.packageId }}"
    state="state"
    model="model"
    format-value="formatValue"
    messages="messages"
    max-value-limit="1998"
    endpoint="{{ params.babbageApiUrl }}">
  </pivot-table>
</div>
