.navbar .navbar-brand {
  width: 23%;
}

.x-page-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  > div {
    display: table-row;
  }

  .x-sidebar {
    background: #2a2d34;
    display: table-cell;
    width: 23%;
    padding: 0.5em 0;

    strong {
      font-size: 70%;
      color: #777;
      margin: 0 15px;
    }

    hr {
      border-color: #666;
      margin: 0.5em 0;
    }

    .list-group {
      margin-bottom: 0;
    }

    .os-icon-remove {
      font-size: 130%;
    }

    .os-icon-arrow-down {
      font-size: 130%;
      transition: transform 0.35s linear;
      transform: rotate(-90deg);

      &.expanded {
        transform: rotate(0deg);
      }
    }
  }

  .x-content {
    display: table-cell;
    width: 77%;
    background: #f5f5f5;
  }
}

.navbar.navbar-footer {

  .x-footer-icons {
    margin-left: 1em;

    img {
      max-height: 1.5em;
      vertical-align: middle;
      margin-left: -0.5em;
    }
  }

  .x-footer-okfn-logo {
    path {
      fill: #999;
    }

    &:hover path {
      fill: #fff;
    }
  }

}

.dropdown .dropdown-menu {

  li.package-search-input {
    & > span {
      padding: 0.75em 15px;
      display: block;
      position: relative;
    }

    cursor: text;

    .form-control-static {
      display: block;
      padding: 0.6em 1em 0.4em;
    }

    &.pinned {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      background: inherit;
      padding-top: 0.75em;
    }
  }
}


.x-available-packages {
  .dropdown > h3 {
    cursor: pointer;
    text-transform: none;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .dropdown .dropdown-menu {
    background: #f5f5f5;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
  }

  .dropdown .dropdown-menu li a {
    line-height: 2em;
    padding-left: 15px;
    padding-right: 15px;
  }

  [marked] {
    margin: 0.5em 0;
    color: silver;
  }
}

#data-filter-buttons .dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.rd3-basic-chart {
  text-align: center;
}

.x-smaller-font {
  font-size: 80%;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.waiter {
  margin: 4em 0;
  i {
    vertical-align: middle;
  }
  span {
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

.babbage-geoview {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.babbage-geoview-units path.selected,
.babbage-geoview-units path:hover {
  stroke-width: 2px;
}

.babbage-geoview-labels[hidden] {
  display: none;
}

.babbage-geoview-labels text {
  font-weight: 300;
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
}

.babbage-geoview-infocard {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0.5em 1em;
  background: #fcfcfc;
  border-radius: 3px;
  border: 1px solid #bbb;
}

.babbage-geoview-legend {
  position: absolute;
  left: 8px;
  bottom: 8px;
  padding: 0.5em 1em;
  background: #fcfcfc;
  border-radius: 3px;
  border: 1px solid #bbb;

  & i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.7em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}

.x-visualization-add {
  border-style: dashed;
  font-size: 200%;
  margin: 0.5em 0;
  padding: 0.25em;
  color: silver;
  cursor: pointer;
  background: #fff;

  &:hover,
  &:active {
    color: lighten(silver, 5%);
  }
}

.x-visualization-container {
  &.well {
    background: #fff;
    margin: 0.5em 0;
  }

  & > div {
    position: relative;
  }

  .x-visualization-chart {
    max-width: 700px;
    position: relative;
  }

  .x-visualization-buttons {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    font-size: 200%;
    z-index: 999;

    a {
      & {
        color: silver;
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: lighten(silver, 5%);
        text-decoration: none;
      }
    }
  }
}

.visualization-popover {
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 0.3em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.x-visualization-add-modal {
  left: 23%;
}

.geoview-container {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 60%;
  }

  .babbage-geoview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
