$breadcrumbs-item-font-size: 13px;
$breadcrumbs-item-color: $primary-colour;
$breadcrumbs-item-color-current: $colour-1;
$breadcrumbs-item-color-disabled: $colour-5;
$breadcrumbs-item-margin: 0.75em;
$breadcrumbs-item-uppercase: true;
$breadcrumbs-item-slash: true;

/// Adds styles for a breadcrumbs container, along with the styles for the `<li>` and `<a>` elements inside of it.
@mixin breadcrumbs-container {
  @include clearfix;
  list-style: none;

  // Item wrapper
  li {
    float: left;
    color: $breadcrumbs-item-color-current;
    font-size: $breadcrumbs-item-font-size;
    cursor: default;

    @if $breadcrumbs-item-uppercase {
      text-transform: uppercase;
    }

    @if $breadcrumbs-item-slash {
      $slash: '/';

      &:not(:last-child)::after {
        color: $colour-5;
        content: $slash;
        margin: 0 $breadcrumbs-item-margin;
        position: relative;
        top: 1px;
        opacity: 1;
      }
    }
    @else {
      margin-right: $breadcrumbs-item-margin;
    }

    span {
      @include hide-text;
      height: 0;
      display: inline-block;
      width: 0;
    }
  }

  // Page links
  a {
    color: $breadcrumbs-item-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumbs {
  @include breadcrumbs-container;

  .disabled {
    color: $breadcrumbs-item-color-disabled;
  }
}
