.site-header {
  background-color: $colour-1;
  color: #fff;
  position: relative;

  .logo {
    padding: $base-spacing $base-spacing $base-spacing / 2 $base-spacing;
    display: block;
    fill: currentColor;

    &.small {
      height: 22px;
      padding: $base-spacing / 2;
      box-sizing: content-box;

      @include MQ(M) {
        display: none;
      }
    }

    &.full {
      display: none;

      @include MQ(M) {
        display: block;
      }
    }
  }

  a {
    color: inherit;
  }
}
