$path-to-fonts: "/fonts";

@font-face {
    font-family: 'os-icons';
    src:    url('#{$path-to-fonts}/os-icons.eot?73z96q');
    src:    url('#{$path-to-fonts}/os-icons.eot?73z96q#iefix') format('embedded-opentype'),
        url('#{$path-to-fonts}/os-icons.ttf?73z96q') format('truetype'),
        url('#{$path-to-fonts}/os-icons.woff?73z96q') format('woff'),
        url('#{$path-to-fonts}/os-icons.svg?73z96q#os-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'os-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

.icon-log-out:before {
    content: "\e908";
}
.icon-user:before {
    content: "\e901";
}
.icon-cloud-upload:before {
    content: "\e902";
}
.icon-cancel:before {
    content: "\e903";
}
.icon-filter_none:before {
    content: "\e904";
}
.icon-chevron_right:before {
    content: "\e905";
}
.icon-arrow_drop_down:before {
    content: "\e900";
}
.icon-checkmark:before {
    content: "\e906";
}
