$label-background: $primary-colour;
$label-color: #fff;
$label-font-size: 0.8em;
$label-padding: 0.33333em 0.5em;
$label-radius: 0;

/// Generates base styles for a label.
@mixin label {
  display: inline-block;
  padding: $label-padding;
  font-size: $label-font-size;
	font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: $label-radius;
	background: $label-background;
  color: $label-color;

	&.secondary {
		background-color: $colour-1;
	}

	&.alert {
		background-color: $alert;
	}
}

.label {
  @include label;
}
