.dropdown {
  position: relative;

  & > a {
    &:after {
      @include icon-font();
      content: "\e900";
      line-height: 0;
    }
  }

  .dropdown-menu,
  .user-menu {
    @include transition (all 0.2s ease-in-out);
    cursor: pointer;
    //display: none;
    overflow: show;
    position: absolute;
    text-align: left;
    z-index: 9;
    background-color: $primary-colour;
    padding-top: $base-spacing /2;
    padding-bottom: $base-spacing /2;
    box-sizing: border-box;

    &.show-menu {
      display: block;
    }
  }

  .dropdown-menu {
    //top: 2em;

    li {
      display: block;
      padding: 0;

      @include MQ(M) {
        white-space: nowrap;
      }

      a {
        color: #fff;
        padding: $base-spacing /2 $base-spacing;
        border-bottom: solid 1px lighten($primary-colour, 5%);
        border-top: none;
        display: block;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .user-menu {
    $menu-height: 6em;
    top: 1.5em;
    right: 0;
    min-width: $menu-height * 1.6;
    padding-left: $base-spacing /2;
    padding-right: $base-spacing /2;
    background-repeat: no-repeat;
    background-position: - $menu-height center;
    background-size: $menu-height auto;
    background-color: darken($colour-1, 2);
    border-right: solid 3px $primary-colour;

    @include MQ(M) {
      background-position: left center;
      min-width: $menu-height + ($menu-height * 1.6);
      padding-left: $menu-height + ($base-spacing /2);
      height: $menu-height;
    }

    li {
      display: block;
      font-size: 0.8em;
      line-height: 1.1;

      &.name {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 0.05em;
      }

      &.packages {
        padding-top: 0.5em;

        span {
          display: inline-block;
          background-color: $white;
          color: darken($colour-1, 2);
          padding-left: 0.2em;
          padding-right: 0.2em;
        }
      }

      &.logout {

        a {
          background-color: $primary-colour;
          padding: 3px 4px 1px 5px;
          margin: 0;
          white-space: nowrap;
          text-transform: none;
          @include transition (all 0.5s ease-in-out);
          box-sizing: border-box;
          margin-top: 0.5em;

          &:before {
            content: "\e908";
          }
        }

        @include MQ(M) {
          position: absolute;
          top: 0;
          left: 0;

          a {
            width: 20px;
            overflow: hidden;
            margin-top: 0;

            &:hover {
              width: 5.5em;
            }
          }
        }
      }
    }
  }
}


.main-nav {
  a {
  	text-decoration: none;
  }

  $highlight-height: 6px;

	background: darken($colour-1, 4);

	li a {
    display: block;
    font-size: 1.4rem;
    padding: $base-spacing /2;
    border-bottom-width: 1px;
    border-style: solid;
		color: $white;
		border-color: $colour-1;
	}

  li:first-of-type a {
    border-top-width: 1px;
  }

	@include MQ(M) {
    position: static;
    width: auto;
    background: transparent;
    text-align: left;
    padding-bottom: $highlight-height;

    li {
      display: table-cell;
      vertical-align: middle;
      padding-left: $base-spacing;

      a {
        display: inline-block;
        font-size: 1.5rem;
        padding: .4em .2em;
        border-bottom: none;
        @include transition(all .2s);
        color: lighten($primary-colour, 40%);

  			.no-touch &:hover {
  				color: $white;
  			}
      }

      &.selected a,
      a.selected {
        color: $white;
        box-shadow: 0 ($highlight-height + 1px) 0 $white;
      }

      &:first-of-type a {
        border-top: none;
      }
    }
	}
}

.secondary-nav {
  position: absolute;
  top: 16px;
  right: 16px;

  @include MQ(M) {
    top: $base-spacing;
    right: $base-spacing;
  }

  a {
  	text-decoration: none;
  }

  li {
    display: inline-block;

    a {
      font-size: 1.3rem;
      text-transform: uppercase;
      display: block;
      margin-left: $base-spacing;
    }

    &.user {
      a:before {
        @include icon-font();
        content: "\e901";
        display: inline-block;
        padding-right: 0.5em;
        font-size: 0.9em;
      }
    }
  }
}


.nav-trigger span {
	/* hamburger menu */
	background-color: $white;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $white;
	}
}

.nav-is-visible .nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($white, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($white, 1);
	}
}

.download {
	/* download button top-right visible on big devices */
	background-color: $colour-1;

	.no-touch &:hover {
		background-color: lighten($colour-1, 10%);
	}

	span {
		/* tooltip */
		background: $white;
		color: $colour-1;

		&::before {
			/* right arrow colour */
			border-color: $white;
		}
	}
}
