.progress-bar {
  $progress-meter-border-colour: $primary-colour;
  $progress-meter-colour: $progress-meter-border-colour;
  $progress-background: #f5f5f5;
  $progress-animation-duration: 0.7s;
  $progress-colour: white;
  $progress-radius: 2px;
  $progress-height: 1.2em;

  background-color: $progress-background;
  border-radius: $progress-radius;
  box-shadow: inset 0 1px 2px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  height: $progress-height;
  overflow: hidden;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-colour;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-colour;
    line-height: $base-line-height + 0.1;
    margin: 0;
    padding: 0 .5em;
    text-shadow: 0 0 1px rgba(#000, 0.1);
		font-size: 0.8em;
		font-weight: 600;
    text-align: center;
  }

	&.striped {
	  > span.meter {
	    @include animation(progress $progress-animation-duration linear infinite);
	    @include box-sizing(border-box);
	    background-color: $progress-meter-colour;
	    @include background-image(linear-gradient(-45deg, rgba(255,255,255, 0.15) 25%,
	                                                      transparent 25%,
	                                                      transparent 50%,
	                                                      rgba(255,255,255, 0.15) 50%,
	                                                      rgba(255,255,255, 0.15) 75%,
	                                                      transparent 75%));
	    background-size: 40px 40px;
	    background-repeat: repeat-x;
	  }

		@-webkit-keyframes progress {
		  0% {
		    background-position: 0px 0px;
		  }
		  100% {
		    background-position: 40px 0px;
		  }
		}
		@-moz-keyframes progress {
		  0% {
		    background-position: 0px 0px;
		  }
		  100% {
		    background-position: 40px 0px;
		  }
		}
		@-ms-keyframes progress {
		  0% {
		    background-position: 0px 0px;
		  }
		  100% {
		    background-position: 40px 0px;
		  }
		}
		@-o-keyframes progress {
		  0% {
		    background-position: 0px 0px;
		  }
		  100% {
		    background-position: 40px 0px;
		  }
		}
		@keyframes progress {
		  0% {
		    background-position: 0px 0px;
		  }
		  100% {
		    background-position: 40px 0px;
		  }
		}
	}

	&.alert {
		> span.meter {
	    @include box-sizing(border-box);
	    background-color: $alert;
		}
	}
}
