.sidebar {
  background-color: $colour-1;
  color: #fff;
  padding-bottom: $base-spacing;
  font-size: em(15);

  a {
  	text-decoration: none;
  }

  header {
    background-color: $primary-colour;
    padding: $base-spacing * 1.2 $base-spacing;
    margin-bottom: $base-spacing;

    img {
      display: block;
    }
  }

  a {
    color: #fff;
  }

  .accordion {
    li {
      margin-bottom: $base-spacing / 3;

      .submenu {
        li {
          margin-bottom: 0;
        }
      }

      &.is-expanded {
        .js-accordion-trigger {
          &:after {
            @include transform(rotate(90deg));
          }
        }
      }

      &.filter {
        .js-accordion-trigger {
          &:before {
            @include icon-font();
            content: "\e904";
            margin-right: 0.5em;
            position: relative;
            bottom: em(-1);
          }
        }

        .submenu {
          a.active {
            &:after {
              @include icon-font();
              content: "\e903";
              position: absolute;
              width: 16px;
              height: 16px;
              top: 50%;
              right: 1em;
              margin-top: -8px;
              opacity: 0.5;
              text-align: right;
              font-size: 1.2em;
            }

            &:hover {
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    a {
      display: block;
      padding: $base-spacing / 3 $base-spacing;
      position: relative;

      &:hover {
        background-color: rgba(0,0,0,0.15);
      }

      &.active {
        background-color: rgba(0,0,0,0.3);
        border-left: solid 0.4em $primary-colour;
        padding-left: $base-spacing - 0.4em;
      }

      &.js-accordion-trigger {
        &:after {
          content: '\203A';
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          text-align: center;
          top: 50%;
          right: $base-spacing / 2;
          margin-top: -6px;
          line-height: 12px;
          font-size: 1.7em;
          font-weight: 100;
          @include transition(all 0.2s ease-in-out);
        }
      }
    }
  }
}
