<div class="well x-visualization-container">
  <div ng-switch="visualization.id">
    <treemap-visualization ng-switch-when="Treemap" params="params"></treemap-visualization>
    <pie-chart-visualization ng-switch-when="PieChart" params="params"></pie-chart-visualization>
    <donut-chart-visualization ng-switch-when="DonutChart" params="params"></donut-chart-visualization>
    <bar-chart-visualization ng-switch-when="BarChart" params="params"></bar-chart-visualization>
    <sankey-visualization ng-switch-when="Sankey" params="params"></sankey-visualization>
    <line-chart-visualization ng-switch-when="LineChart" params="params"></line-chart-visualization>
    <table-visualization ng-switch-when="Table" params="params"></table-visualization>
    <bubble-tree-visualization ng-switch-when="BubbleTree" params="params"></bubble-tree-visualization>
    <map-visualization ng-switch-when="Map" params="params"></map-visualization>
    <pivot-table-visualization ng-switch-when="PivotTable" params="params"></pivot-table-visualization>
    <radar-chart-visualization ng-switch-when="Radar" params="params"></radar-chart-visualization>

    <div class="x-visualization-buttons">
      <visualization-download-data params="params" />
      <a href="javascript:void(0);" popover="visualizations/remove-popover"
        title="{{ 'Remove this visualization' | i18n }}"
        class="os-icon os-icon-trashcan"></a>
      <a href="javascript:void(0);" popover="visualizations/share-popover"
        title="{{ 'Share this visualization' | i18n }}"
        class="os-icon os-icon-embed"></a>

      <script type="text/ng-template" id="visualizations/remove-popover">
        <div class="visualization-popover">
          <button ng-click="removeVisualization(visualization.id)" type="button" class="btn btn-danger">
            {{ 'Remove this visualization' | i18n }}
          </button>
          <button ng-click="removeAllVisualizations()" type="button" class="btn btn-danger">
            {{ 'Remove all visualizations' | i18n }}
          </button>
        </div>
      </script>

      <script type="text/ng-template" id="visualizations/share-popover">
        <visualization-share-popover visualization="visualization" params="params"></visualization-share-popover>
      </script>
    </div>
  </div>
</div>
