<div class="clearfix">
  <breadcrumbs breadcrumbs="params.breadcrumbs"></breadcrumbs>
</div>
<div ng-if="!params.isEmbedded" class="clearfix">
  <sorting-control
    selected="params.orderBy"
    items="params.availableSorting">
  </sorting-control>
</div>
<div class="x-visualization-chart clearfix">
  <chart ng-if="isVisible"
    downloader="downloader"
    type="bar"
    cube="{{ params.packageId }}"
    state="state"
    format-value="formatValue"
    messages="messages"
    endpoint="{{ params.babbageApiUrl }}"
    color-scale="colorScale">
  </chart>
</div>
