<strong>{{ 'Rows' | i18n }}</strong>
<div ng-repeat="hierarchy in rowHierarchies">
  <sidebar-list items="hierarchy.dimensions" selected="params.rows" key="rows"
    title="{{ hierarchy.label }}" can-clear="{{ params.rows.length > 1 ? 'on' : '' }}"></sidebar-list>
</div>

<hr>

<strong>{{  'Columns' | i18n }}</strong>
<div ng-repeat="hierarchy in columnHierarchies">
  <sidebar-list items="hierarchy.dimensions" selected="params.columns" key="columns"
    title="{{ hierarchy.label }}" can-clear="{{ params.columns.length > 1 ? 'yes' : '' }}"></sidebar-list>
</div>