<div ng-if="!params.isEmbedded" class="clearfix">
  <sorting-control
    selected="params.orderBy"
    items="params.availableSorting">
  </sorting-control>
</div>
<div class="x-visualization-chart clearfix">
  <div class="table-responsive">
    <radar-chart ng-if="isVisible"
      downloader="downloader"
      cube="{{ params.packageId }}"
      state="state"
      model="model"
      format-value="formatValue"
      messages="messages"
      endpoint="{{ params.babbageApiUrl }}"
      color-scale="colorScale"
    >
    </radar-chart>
  </div>
</div>
