<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <base href="/{{basePath}}"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="description" content="A frontend data/views app powered directly from a Fiscal Data Package."/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>OS Viewer | OpenSpending | Open Knowledge International</title>
  <link href="//fonts.googleapis.com/css?family=Hind:400,300,500,600,700" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
  <link rel="stylesheet" href="styles/vendor.css?{{ sessionSalt }}">
  <link rel="stylesheet" href="styles/app.css?{{ sessionSalt }}">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body ng-app="Application" ng-controller="main" class="ng-cloak">
<div id="root"></div>

{% include "partials/header.html" %}

<div class="x-page-container">
<div>
  <aside class="x-sidebar">{% block sidebar %}{% endblock %}</aside>
  <div class="x-content">
    <div class="container-fluid">{% block content %}{% endblock %}</div>
  </div>
</div>
</div>

{% include "partials/footer.html" %}

<script src="modules.js?{{ sessionSalt }}"></script>
<script src="vendor.js?{{ sessionSalt }}"></script>
<script src="{{ authLibraryUrl }}"></script>
<script src="app.js?{{ sessionSalt }}"></script>

{% block footerScript %}{% endblock %}

</body>
</html>
